.image-container {
    position: relative;
}

.text-container {
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px; /* Adjust as needed */
    color: white; /* Adjust text color as needed */
    font-size: 18px; /* Adjust font size as needed */
    background-color: rgba(0, 0, 0, 0.5); /* Adjust background color and opacity as needed */
}
